div:hover{
border: 6px solid black;
color: white;
}
div:nth-of-type(1){
    background-color: #000814;
}
div:nth-of-type(2){
    background-color: #001d3d;
}
div:nth-of-type(3){
    background-color: #003566;
}
div:nth-of-type(4){
    background-color: #ffc300;
}
div:nth-of-type(5) {
    background-color: #ffd60a;
}