.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
  }
  
  .baloon {
  position: absolute;
  z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
}
  