img {
  width: 120px;
}

.gamelist-section {
  display: flex;
  justify-content: space-between;
  width: 450px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
}
.gamelist-section div {
  display: flex;
  flex-direction: column;
  text-align: start;
  min-height: 150px;
}

.gamelist-section div span {
  margin-top: 5px;
}