*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.speaker-form-header{
  text-align: center;
  background-color: rgb(246,247,248);
  border: 1px, solid, rgb(214, 217, 220);
  border-radius: 3px;
  width: 80%;
  margin: 40px auto;
  padding: 50px;
}

.speaker-form-header h1{
  font-size: 30px;
  margin-bottom: 20px; 
}

.speaker-form {
  background-color: rgb(246,247,248);
  border: 1px, solid, rgb(214, 217, 220);
  border-radius: 3px;
  width: 80%;
  margin: 40px auto;
  padding: 50px;
}

.form-content {
  margin-bottom: 40px;
}

.form-content input[type="text"], textarea {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 217, 220);
  border: 3px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.form-content label {
  margin-bottom: 15px;
}

.line-content {
  margin: 20px;
  border: 0 none;
}

fieldset{
  padding: 10pxs;
}

.instrucoes {
  color: #999;
  font-size: 13px;
}

.btn-enviar{
  font-size: 16px;
  font-weight: bold;
  background-color: #5995da;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.btn-enviar:hover {
background-color: #76aeed;
}